* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
    background-color: white;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: fixed;
}
.header__div {
    margin: .75rem 6rem;
}
.header__titles {
    font-size: 1.5rem;
    color: #335576;
}
.header__pages {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    align-items: center;
    margin-right: 6rem;
}
.header__current {
    text-decoration: underline;
}
.header__links {
    text-decoration: none;
    font-size: 1rem;
    color: black;
}

.footer {
    background-color: #fefaf5;
    display: flex;
    padding: 2.5rem 10rem;
}
.footer__days {
    display: flex;
    gap: 2rem;
}

.footer__subtitle {
    font-size: .75rem;
    color: #DB7A4E;
    padding-top: 1.25rem;
}
.footer__p {
    font-size: 1rem;
    color: #335576;
    padding-top: .75rem;
}
.footer__icons {
    padding-top: 2rem;
    display: flex;
    gap: 2.5rem;
}
.icons__logo {
    height: 2rem;
}