* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
    background-color: white;
    display: flex;
    padding: .75rem;
    flex-wrap: nowrap;
    width: 100%;
}
.headerTitles {
    font-size: 1.75rem;
    color: #335576;
}
.header__pages {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    align-items: center;
    justify-content: end;
}
.header__current {
    text-decoration: underline;
}
.header__links {
    text-decoration: none;
    font-size: 1.25rem;
    color: black;
}

.footer {
    background-color: #fefaf5;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: flex;
}
.footer__days {
    display: flex;
    gap: 2rem;
}

.footer__subtitle {
    font-size: .75rem;
    color: #DB7A4E;
    padding-top: 1.25rem;
}
.footer__p {
    font-size: 1.25rem;
    color: #335576;
    padding-top: .75rem;
}
.footer__icons {
    padding-top: 2rem;
    display: flex;
    gap: 2.5rem;
}
.icons__logo {
    height: 2rem;
}