.hero {
    display: flex;
    align-items: center;
    padding: 7.5rem 0 5rem 0;
    background-color: #fefaf5;
    flex-wrap: wrap;
}

.hero__text {
    margin: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.hero__title {
    margin-left: 5rem;
    font-size: 250%;
    color: #335576;
}
.hero__p {
    margin-left: 5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 125%;
    color: #335576;
}
.hero__button {
    background-color: #DB7A4E;
    margin-left: 5rem;
    border-radius: 20px;
    border-color: #fefaf5;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.button__getStarted {
    text-decoration: none;
    color: white;
    font-size: 125%;
    padding: 0 2rem;
}
.hero__img {
    width: 32rem;
    margin-right: 5rem;
}

.recommendations {
    display: flex;
    flex-direction: column;
    padding: 4rem 0 8rem 0;
}
.recommendations__title {
    margin-left: 5rem;
}
.recommendations__container {
    display: flex;
    gap: 2rem;
    padding-top: 2.5rem;
    flex-wrap: wrap;
}
.recommendations__card {
    width: 16rem;
    height: 24rem;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    border: .0625rem color(black);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: end;
}
.recommendations__card--hawaii {
    background-image: url(../assets/Images/hawaii.jpg);
}
.recommendations__card--iceland {
    background-image: url(../assets/Images/iceland.jpg);
}
.recommendations__card--greece {
    background-image: url(../assets/Images/greece.jpg);
}
.recommendations__link {
    text-decoration: none;
}
.recommendations__text {
    font-size: 150%;
    color: white;
    padding-left: 8rem;
    padding-bottom: 1.25rem;
}